<h1><%= @post.title %></h1>

<p> <%= @post.content %> </p>

<h3>Categories:</h3>

    <% @post.categories.each do |category| %>
    <p><%= category.name %></p>
    <% end %>

<h3>Comments: </h3>
   
   <% @post.comments.each do |comment| %>
    <%= comment.user.username %> says: <%= comment.content %>
    <br>
   <% end %>

<h3>Commentors: </h3>

<ul>
    <% @post.users.distinct.each do |user| %>
    <li>
        <%= link_to user.username, user_path(user) %>
    </li>
    <% end %>
</ul>


<%= form_for @comment do |f| %>

    <%= f.label :content, "New Comment" %>
    <br>
    <br>
    <%= f.text_area :content %>
    <br>
    <%= f.hidden_field :post_id, value: @post.id %>
    <br>
    <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: 'None'} %>
    <br>
    <br>
    <%= f.fields_for :user, User.new do |user_fields| %>
        <%= user_fields.label :username %>
        <%= user_fields.text_field :username %>
    <% end %>

    <%= f.submit %>

<% end %>